@import-normalize;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0f0f0f;
  color: #e6e6e6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  transition: opacity 250ms;
}

a.active {
  color: #c5a880e0;
  text-shadow: 1px 0px 2px #e6e6e6a9;
  /* font-weight: 700; */
}

a:hover,
a:focus {
  text-shadow: 1px 0px 8px #c5a880;
  opacity: 0.8;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noScroll {
  overflow: hidden;
}
